<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        header{display: flex; justify-content: space-between;}
    </style>
    <title>User Page</title>
</head>
<body>
    <header>
        <h1>Welcome, {{request.session.logged_user_info.first_name}}!</h1>
        <div>
            <a href="/display_books"> Back</a>
            <p><a href="/logout">Log Out</a></p>
        </div>
    </header>
    <hr>
    <main>
        <h1>All favorite Books</h1>
        <ul>
            {% for book in all_liked_books %}
            <li>{{book.title}}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>